@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&family=Jacques+Francois+Shadow&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-size-default: 10px;
    --font-jacques: 'Jacques Francois Shadow', serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-ibm: 'IBM Plex Serif', serif;
    --primary-color: #d9fffd;
    --secondary-color: #7FC7D9;
    --ternery-color: #365486;
    --color-four: #0F1035;
    --bg-color: rgba(220, 242, 241, .8);
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size-default);
}

body {
    border: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
} 

.nav_bar {
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    background: var(--color-four);
    padding: 0 5rem;
}

.nav_bar .logo a {
    text-decoration: none;
    font-family: var(--font-jacques);
    font-size: 1.7rem;
    color: var(--primary-color);
}

.nav_bar .navlinks {
    height: 100%;
    width: 50rem;
}

.nav_bar .navlinks ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    height: 100%;
}

.nav_bar .navlinks .active {
    border-bottom: .2rem solid var(--secondary-color);
    padding-bottom: .3rem;
}

.nav_bar ul a {
    text-decoration: none;
    font-size: 1.9rem;
    font-family: var(--font-poppins);
    color: var(--secondary-color);
    transition: all 1s ease;
}

.nav_bar ul a:hover {
    padding: 0.8rem 3rem;
    background: var(--primary-color);
    border-radius: .5rem;
}

.nav_bar .logo .two {
    display: none;
}

.nav_bar .btn {
    display: none;
}

.nav_bar .btn button {
    width: 4rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    background: transparent;
}

.nav_bar .btn button span {
    width: 100%;
    height: .4rem;
    background: var(--primary-color);
    border-radius: 1rem;
}

.nav_bar .btn button span:nth-child(2) {
    width: 75%;
}

.nav_bar .btn button span:nth-child(3) {
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .logo .one {
        display: none;
    }

    .nav_bar .logo .two {
        display: block;
    }

    .nav_bar .navlinks {
        display: block;
    }

    .nav_bar .btn {
        display: block;
    }

    .nav_bar .navlinks {
        position: absolute;
        width: 50%;
        right: 0;
        top: 5rem;
        height: 100vh;
        backdrop-filter: blur(4px);
        background: #0f10357c;
        margin-right: 100%;
        padding-top: 2rem;
        transition: all 1s ease;
    }

    .nav_bar .navlinks .active {
        padding: 0.8rem 3rem;
        background: var(--primary-color);
        border-radius: .5rem;
    }

    .nav_bar .navlinks ul { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 40%;
    }

    .navlinks.mobile-menu {
        margin-right: 50%;
    }
}

footer {
    width: 100%;
    height: 6rem;
    background: var(--color-four);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 5rem;
}

footer h1 {
    color: var(--primary-color);
    font-family: var(--font-poppins);
    font-weight: 500;
}

footer marquee {
    display: none;
    color: var(--primary-color);
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 1.7rem;
}

@media only screen and (max-width: 900px) {
    footer {
        position: relative;
        margin-top: 5rem;
    }
    footer h1 {
        display: none;
    }
    footer marquee{
        display: block;
    }
}

.contain_text p {
    font-size: 2.2rem;
    color: var(--secondary-color);
    font-family: var(--font-ibm); 
    padding: 0 5rem; 
    margin-top: 5rem;
} 